.calendar-container {
  background: white;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #8DC1FF;
  flex: 1;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.month-select {
  width: fit-content;
  height: fit-content;
  position: relative;
  border-radius: 10px;
  border: 1px solid #91C3FF;
  background: #F3F6FF;
  padding: 4px 12px;
}
.calendar-grid-header, .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
}
.day-name {
  color: #6A7282;
  font-weight: 500;
  margin-bottom: 16px;
}
.calendar-day {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #DCEBFF;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  color: #6A7282;
}
.calendar-day.selected {
  background: #91C3FF;
  color: #101828;
}
.calendar-day.has-event {
  background: #F3F6FF;
  color: #101828;
}
.event-dot {
  width: 6px;
  height: 6px;
  background: #244A6B;
  border-radius: 50%;
  margin-top: 4px;
}
.empty-cell {
    height: 60px;
    border: 1px solid transparent; 
}