.appointment-container {
    background: white;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #8DC1FF;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail-title {
    font-size: 18px;
    font-weight: 600;
    color: #0A0A0A;
    margin-bottom: 8px;
}

.shift-info-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
}

.shift-info-row span {
    color: #6A7282;
}

.shift-info-row strong {
    color: #0A0A0A;
    font-weight: 600;
}

.list-label {
    font-size: 12px;
    color: #6A7282;
    margin-top: 16px;
    margin-bottom: 4px;
}


.patient-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 8px;
}

.patient-list::-webkit-scrollbar {
    width: 4px;
}
.patient-list::-webkit-scrollbar-thumb {
    background: #CBD5E0;
    border-radius: 10px;
}

.patient-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: white;
    border: 1px solid #F3F6FF;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.patient-item:hover {
    border-color: #8DC1FF;
    background: #F9FBFF;
}

.patient-avatar {
    width: 40px;
    height: 40px;
    background: #DCEBFF;
    border-radius: 50%;
    margin-right: 12px;
}

.patient-info {
    flex: 1;
}

.p-name {
    font-size: 14px;
    font-weight: 600;
    color: #0A0A0A;
    margin: 0;
}

.p-id {
    font-size: 12px;
    color: #6A7282;
    margin: 2px 0 0 0;
}

.p-time {
    font-size: 14px;
    color: #6A7282;
    font-weight: 500;
}

.empty-state-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
}
.empty-state-container p {
    color: #6A7282;
    font-size: 14px;
    font-weight: 400;
}
